# ==== Python / Django ====
*.pyc
__pycache__/
env/
venv/
*.sqlite3
db.sqlite3
*.log

# ENV files
*.env
.env
backend/.env

# Django specific
media/
static/
migrations/

# ==== Node / React ====
node_modules/
frontend/node_modules/
frontend/dist/

# Build
build/
dist/

# Logs
*.log

# IDE / Editor files
.vscode/
.idea/
*.swp

# Mac OS
.DS_Store

# OS trash
Thumbs.db

# ==== System Files ====
*.bak
*.tmp
*.old
